<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
        uses-feature配置用来声明一个app在运行时所依赖的外部的硬件或软件特征（feature），
        uses-feature还提供了一个required属性配置，表示此项依赖的软硬件特征是否是必须的，
        当它设置为true表示此app运行时必须使用此项特征，
        如果没有则无法工作，如果它设置为false，表示应用在运行时需要用到这些特征，
        但如果没有，应用可能会有一部分功能会受到影响，但大部分功能还是可以正常工作。
    -->
    <!-- 指定需要使用摄像头，false则表示没有摄像头，应用某些功能可能会受限，为true，则表示设备必须要有摄像头 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- OpenGL ES（opengl embedded system ）SL（shading language）的版本是2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Android 11 申请访问所有文件 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NDK_Day78"
        tools:targetApi="31">
        <activity
            android:name=".opengl2.TiktokVideoFastSlowActivity"
            android:exported="false" />
        <activity
            android:name=".serialport.SelectSerialPortActivity"
            android:exported="false" />
        <activity
            android:name=".serialport.SerialPortActivity"
            android:exported="false" />
        <activity
            android:name=".idcard.IDCardRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".opengl2.MyGLSurfaceViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fmod.FmodActivity"
            android:exported="false" />
        <activity
            android:name=".player.audio.AudioPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".player.video.VideoPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".player.video.VideoPlayerActivity2"
            android:exported="true" />
        <activity
            android:name=".player.PlayerActivity"
            android:exported="true" />
        <activity
            android:name=".textrecognition.DisplayResultActivity"
            android:exported="false" />
        <activity
            android:name=".textrecognition.TextRecognitionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".bandcard.BankCardRecognitionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".face.FaceDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".player.audio.service.MusicService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>